<section class="hero-w-form | content-full p-relative{{ if .css_class }} {{ .css_class }}{{ end }}{{ if .background_color }} bg-{{ .background_color }}{{ end }}">
  {{ if .background_image.image_url }}
  <picture class="background-image content-full">
    <source sizes="100vw" srcset="
      https://res.cloudinary.com/dpsfyelwp/image/upload/t_scale-640-auto{{ .background_image.image_url }} 640w,
      https://res.cloudinary.com/dpsfyelwp/image/upload/t_scale-1024-auto{{ .background_image.image_url }} 1024w,
      https://res.cloudinary.com/dpsfyelwp/image/upload/t_scale-1600-auto{{ .background_image.image_url }} 1600w,
      https://res.cloudinary.com/dpsfyelwp/image/upload/t_scale-2200-auto{{ .background_image.image_url }} 2200w
    ">
    <img class="content-full"
      src="https://res.cloudinary.com/dpsfyelwp/image/upload/t_scale-1600-auto{{ .background_image.image_url }}"
      alt="{{ .image.image_alt }}" width="1920" height="1080" loading="lazy" decoding="async">
  </picture>
  <div class="overlay overlay--black content-full"></div>
  {{ end }}
  <div class="content-lg block grid gap-lg">
    <div class="grid-12 grid-5-md flow p-relative font-color-white">
      <header>
        {{ if .preheading }}
        <h1 class="text-style-slub h2">{{ .preheading }}</h1>
        <h2 id="{{ .heading | urlize }}">{{ .heading }}</h2>
        {{ else }}
        <h1 class="h2" id="{{ .heading | urlize }}">{{ .heading }}</h1>
        {{ end }}
        {{ if .subheading }}
        <p class="split-hero-block__subheading">{{ .subheading | markdownify }}</p>
        {{ end }}
      </header>
      {{ if .body }}
      {{ if in .body "\n" }}
      {{ .body | markdownify }}
      {{ else }}
      <p>{{ .body | markdownify }}</p>
      {{ end }}
      {{ end }}
    </div>
    <div class="hero__form | grid-12 grid-2-md"></div>
    <div class="hero__form | grid-12 grid-5-md p-relative">
      <form name="Contact Green Bay Ranking Co" method="post" data-netlify="true" netlify-honeypot="bot-field" action="/thank-you/">
      <div hidden>
          <label>
              Don't fill this out if you're human:
              <input name="bot-field" aria-label="bot-field" />
          </label>
      </div>
      <div class="visually-hidden">
          <label for="subject">New lead from greenbayseo.com</label>
          <input aria-label="subject" name="subject" value="New lead from greenbayseo.com" />
      </div>
        <div class="contact-form__form-group">
          <label for="name">Name*</label>
          <input class="contact-form__form-control" name="Name" id="name" type="text"
            autocomplete="name" required>
        </div>
        <div class="contact-form__form-group">
          <label for="email">Email*</label>
          <input class="contact-form__form-control" name="email" id="email" type="email"
            autocomplete="email" required>
        </div>
        <div class="contact-form__form-group">
          <label for="phone">Phone*</label>
          <input class="contact-form__form-control" name="Phone" id="phone" type="tel"
            autocomplete="tel" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$"
            title="Please enter a 10-digit phone number (e.g., 123-456-7890)" required>
        </div>
        <div class="contact-form__form-group">
          <label for="contact_preference">How Would You Prefer To Be Contacted?*</label>
          <select class="contact-form__form-control" name="Contact Preference" id="contact_preference" required>
            <option value=""></option>
            <option value="Phone">Phone</option>
            <option value="Email">Email</option>
          </select>
        </div>
        <div class="contact-form__form-group">
            <label for="referral">Where Did You Hear About Us?*</label>
            <select name="Where Did You Hear About Us?" id="referral" class="contact-form__form-control max-width-none"
                required>
                <option value=""></option>
                <option value="Internet Search">Internet Search</option>
                <option value="ChatGPT/AI">ChatGPT/AI</option>
                <option value="Digital Ad">Digital Ad</option>
                <option value="Green Bay Ranking Team Member">Green Bay Ranking Team Member</option>
                <option value="Green Bay Ranking Email/Social">Green Bay Ranking Email/Social</option>
                <option value="Green Bay Ranking Blog">Green Bay Ranking Blog</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="contact-form__form-group">
          <label class="font-color-white" for="message">Message*</label>
          <textarea class="contact-form__form-control" name="Message" id="message" rows="4"
            required></textarea>
        </div>
        <button type="submit" class="contact-form__btn btn btn--secondary">Send Message</button>
      </form>
    </div>
  </div>
</section>