.filter {
    position: relative;
}

.filter:has(select)::after {
    // Positioning
    position: absolute;
    top: 20px;
    right: 12px;
    // Box model
    width: 24px;
    height: 24px;
    // Visual
    background-image: url("/uploads/chevron-down-icon.svg");
    background-size: cover;
    // Misc
    content: "";
    pointer-events: none;
}

.filter select {
    // Box model
    width: 100%;
    height: 100%;
    padding: 1rem;
    // Visual
    background-color: $light-gray;
    border: 1px solid rgba($black, .3);
    border-radius: $radius;
    // Misc
    appearance: none;
}

.filter .btn {
    width: 100%;
    justify-content: center;
}