.location-gallery .swiper-wrapper {
   height: 375px; 

    @include breakpoint(md) {
        height: 100%;
    }
}

.location-gallery .swiper-slide {
    max-height: 300px;

    @include breakpoint(md) {
        max-height: 450px;
        max-height: calc(100% - 75px);
    }
}

.location-gallery .swiper-slide img {
    border-radius: $radius;
}

.location-gallery .swiper-controls {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

.location-gallery .swiper-button-next,
.location-gallery .swiper-button-prev,
.location-gallery .swiper-scrollbar {
    position: relative !important;
}

.location-gallery .swiper-button-next {
    right: 0;
}

.location-gallery .swiper-button-prev {
    left: 0;
}

.location-gallery .swiper-scrollbar {
    top: 12px !important;
    background-color: $white;
}