.split-hero-block__media {
    position: relative;
    display: grid;
    place-items: center;
    grid-column: 1 / -1;
    min-height: 300px;
    overflow: hidden;

    @include breakpoint(md) {
        min-height: 500px;
        grid-column: 3 / -1;
    }
}

.split-hero-block__subheading {
    font-size: $ic-200;
    font-weight: 500;
}

.split-hero-block__trust-list {
  list-style: none;
}

.split-hero-block__trust-item {
  font-weight: 700;
  margin-block-start: 0;
}

.split-hero-block__trust-icon {
  inline-size: $ic-400;
  block-size: $ic-400;
  border: 2px solid $tertiary-color;
  border-radius: 50%;

  svg {
    fill: $tertiary-color;
  }
}

.split-hero-block__overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
  background:
    linear-gradient(
      180deg,
      $primary-color 0%,
      $primary-color 58%,
      rgba($primary-color, .9) 60%,
      rgba($primary-color, .45) 62%,
      rgba($primary-color, 0) 64%
    );

    @include breakpoint(md) {
  background:
    linear-gradient(
      90deg,
      $primary-color 0%,
      $primary-color 50%,
      rgba($primary-color, .9) 55%,
      rgba($primary-color, .45) 62%,
      rgba($primary-color, 0) 78%
    );
    }
}

.split-hero-block__content {
    position: relative;
    z-index: 1;
    // padding-block: 10vw;
    grid-column: 2 / 12;

    @include breakpoint(md) {
        grid-column: 2 / 7;
    }
}

.staff-hero-block .split-hero-block__content {
    padding-block: 8vw;
}

.split-hero-block__subheading {
    font-size: $ic-200;
    font-weight: 500;
}

.split-hero-block__media {
    position: relative;
    grid-column: 1 / -1;
    min-height: 450px;

    @include breakpoint(md) {
        grid-column: 7 / -1;
    }
}

.split-hero-block__image-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.split-hero-block__image {
    // position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.split-hero-block .background-image img {
    grid-column: 1 / -1;
}