.two-columns-block:has(.overlay--black),
.two-columns-block:has(.overlay--dark-black),
.two-columns-block:has(.overlay--primary) {
    color: $white;
}

.two-columns-block:has(.overlay--black) .text-block,
.two-columns-block:has(.overlay--dark-black) .text-block,
.two-columns-block:has(.overlay--white) .text-block,
.two-columns-block:has(.overlay--primary) .text-block {
    background-color: rgba($white, .85);
    color: $black;
    padding: $ic-400;
    position: relative;
    // border-radius: 20px;
}
