<li class="blog-card flex flex-row p-relative grid">
    <div class="blog-card__image-wrap p-relative cover-image grid-4">
        {{ if .Params.seo.featured_image }}
        <img class="blog-card__img dim"
            src="https://res.cloudinary.com/dpsfyelwp/image/upload/f_auto,q_85,w_350{{ .Params.seo.featured_image.image_url }}"
            alt="{{ .Params.seo.featured_image.image_alt }}" width="500" height="300" loading="lazy">
        {{ end }}
    </div>
    <div class="blog-card__content bg-white flow grid-8">
        <h2 class="blog-card__title"><a class="blog-card__link no-decoration" href="{{ .RelPermalink }}">{{ .Title
                }}</a></h2>
    </div>
</li>